body{
  text-align: center;
  font-family: Helvetica;
}

.main-banner{
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  height: 297px;
  width: 1280px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

h1{
  font-size: 70px;
  font-weight: bold;

}

ul{
  list-style-type: none;
  text-decoration: underline;
  font-size: 18px;
  line-height: 2em;
  color: inherit;
}

.important{
  color: white;
}

.important a:link{
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

#second-banner{
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: center bottom;
}

#footer{
  background-color: dimgray;
  color: white;
  font-size: 11px;
  width: 1270px;
  text-align: left;
}

.second-navigation{
  color: white;
  position: absolute;
}

.second-navigation a:link{
  color: white;
  font size: 11px;
}
